body{
background-image:url(https://media.tenor.com/F_DqEkNoTsEAAAAC/luffyrun-kid-luffy.gif);
background-repeat: no-repeat;
background-size:cover;
background-position-y: 40%;
background-position-x: 100%;







}