h1{ text-align:center;
font-size:xx-large}

p{font-size: large;
text-align: left;
margin-right:45%;
color:white}

body{background-image:url("https://preview.redd.it/dwelnj0gpfn71.jpg?width=740&format=pjpg&auto=webp&s=96ae00aa344aedd87e07b9c948bcfd75898cae0b");
background-repeat:no-repeat;
background-size:cover;
}