

h1{text-align:center;
font-size: xx-large;}

h2{
padding-right:50%}

body{background-image:url("https://media.tenor.com/QXPL3ImUWmUAAAAC/nami-run-kid-nami.gif");
background-repeat:no-repeat;
background-size:cover;
background-position-y:40%;
background-position-x:100%}

p{font-size:large;
font-style:"times new roman";
color:white;
text-align:left;
margin-right:45%}